.back-to-top {
  box-sizing: border-box;
  position: fixed;
  bottom: -100px;
  right: 50px;
  z-index: 1050;
  padding: 0 6px;
  width: 35px;
  background: #333;
  font-size: 12px;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transform: translateZ(0);
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
@media (max-width: 767px) {
  .back-to-top {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-to-top {
    display: none;
  }
}
.back-to-top.back-to-top-on {
  bottom: 40px;
}
#rocket-to-top {
  position: fixed;
  bottom: -100px;
  right: 50px;
  width: 48px;
  height: 48px;
  margin: 40px auto 50px;
  background: rgba(255,255,255,0.1);
  border-radius: 30px;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,0.15), 0px 10px 80px 5px rgba(0,0,0,0.15);
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
}
#rocket-to-top.rocket-to-top-on {
  bottom: 40px;
}
#rocket-to-top:hover {
  background: #9d9d9d;
  background: rgba(255,255,255,0.6);
}
#rocket-to-top.flying svg {
  position: fixed;
  -webkit-filter: drop-shadow(0 5px 2px #d36800);
  border-radius: 30px;
}
#rocket-to-top svg path {
  fill: #bbb;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
#rocket-to-top.flying svg path {
  fill: #951015;
}
#rocket-to-top.flying:hover svg path {
  fill: #951015;
}
#rocket-to-top:hover svg path {
  fill: rgba(57,69,75,0.8);
}
#rocket-to-top svg {
  margin-top: 7px;
  margin-left: 7px;
}
@media all and (max-width: 960px) {
  #rocket-to-top.rocket-to-top-on{
    display:none;
  }
}